# Ignore everything by default
*

# But allow these specific files and directories
!.gitignore
!README.md

# Allow only specific scripts in 5_psii
!5_psii/
5_psii/*
!5_psii/protocol_psii_psbs.sh
!5_psii/psii_psbs/
5_psii/psii_psbs/*
!5_psii/psii_psbs/simulation.sh
!5_psii/psii_psbs/run_all.sh
!5_psii/psii_psbs/protocol_snellius.sh

!4_pairs/
4_pairs/*
!4_pairs/analysis/
4_pairs/analysis/*
!4_pairs/analysis/contact_analysis.ipynb
!4_pairs/analysis/analysis.sh
!4_pairs/analysis/binding_pose.py
!4_pairs/analysis/paired_interactions_test.ipynb
!4_pairs/analysis/paired_interactions_test.ipynb
!4_pairs/analysis/1_preprocessing_copy1.sh
!4_pairs/analysis/merge_trajectories.ipynb
!4_pairs/analysis/lifetime_test.ipynb


