# Ignore everything by default
*

# But allow these specific files and directories
!.gitignore
!README.md

# Allow analysis_dataset directory and its files
!analysis_dataset/
!analysis_dataset/*
!analysis_dataset/scripts/
!analysis_dataset/scripts/*
!analysis_dataset/sql_operations/
!analysis_dataset/sql_operations/*
!analysis_dataset/definitions_yaml/
!analysis_dataset/definitions_yaml/*

# Allow only specific scripts in 5_psii
!analysis_dataset/*
!5_psii/
5_psii/*
!5_psii/psii_psbs/
5_psii/psii_psbs/*
!5_psii/protocol_psii_psbs.sh
!4_pairs/analysis/1_preprocessing_psii.sh
!5_psii/psii_psbs/simulation.sh
!5_psii/psii_psbs/run_all.sh
!5_psii/psii_psbs/protocol_snellius.sh

!4_pairs/
4_pairs/*
!4_pairs/analysis/
4_pairs/analysis/*

!4_pairs/analysis/contact_analysis.ipynb
!4_pairs/analysis/analysis_pairs.sh
!4_pairs/analysis/binding_pose.py
!4_pairs/analysis/paired_interactions_test.ipynb
!4_pairs/analysis/paired_interactions_test.ipynb
!4_pairs/analysis/1_preprocessing_copy1.sh
!4_pairs/analysis/merge_trajectories.ipynb
!4_pairs/analysis/lifetime_test.ipynb
!4_pairs/analysis/lifetime_test.ipynb
!4_pairs/analysis/contact_analysis.py
!4_pairs/analysis/contacts_to_pdb.py
!4_pairs/analysis/lifetime_to_pdb.py
!4_pairs/analysis/extract_trajectories_from_dataframe.py
!4_pairs/analysis/analysis_psii.sh
!4_pairs/analysis/*py
